In [6]:
import json
import pandas as pd

In [7]:
import json
import pandas as pd

with open('t20_json_files/t20_json_files/t20_wc_bowling_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
        all_records[:2]

In [8]:
import json
import pandas as pd

# Define the file path
file_path = 't20_json_files/t20_json_files/t20_wc_bowling_summary.json'

# Ensure the file exists before attempting to open it
try:
    with open(file_path) as f:
        data = json.load(f)
    
    all_records = []
    for rec in data:
        if 'bowlingSummary' in rec:  # Check if 'bowlingSummary' key exists
            all_records.extend(rec['bowlingSummary'])
    
    # Print the first two records to verify
    print(all_records[:2])

    # Convert the list of records to a DataFrame
    df_bowling = pd.DataFrame(all_records)
    
    # Print the first few rows of the DataFrame to verify
    print(df_bowling.head())

except FileNotFoundError:
    print(f"The file at {file_path} was not found. Please check the path and try again.")
except json.JSONDecodeError:
    print(f"Failed to decode JSON from the file at {file_path}. Ensure the file contains valid JSON.")
except KeyError as e:
    print(f"The expected key {e} was not found in the JSON data. Please check the structure of your JSON file.")

[{'match': 'Namibia Vs Sri Lanka', 'bowlingTeam': 'Sri Lanka', 'bowlerName': 'Maheesh Theekshana', 'overs': '4', 'maiden': '0', 'runs': '23', 'wickets': '1', 'economy': '5.75', '0s': '7', '4s': '0', '6s': '0', 'wides': '2', 'noBalls': '0'}, {'match': 'Namibia Vs Sri Lanka', 'bowlingTeam': 'Sri Lanka', 'bowlerName': 'Dushmantha Chameera', 'overs': '4', 'maiden': '0', 'runs': '39', 'wickets': '1', 'economy': '9.75', '0s': '6', '4s': '3', '6s': '1', 'wides': '2', 'noBalls': '0'}]
                  match bowlingTeam                  bowlerName overs maiden  \
0  Namibia Vs Sri Lanka   Sri Lanka          Maheesh Theekshana     4      0
1  Namibia Vs Sri Lanka   Sri Lanka         Dushmantha Chameera     4      0
2  Namibia Vs Sri Lanka   Sri Lanka             Pramod Madushan     4      0
3  Namibia Vs Sri Lanka   Sri Lanka         Chamika Karunaratne     4      0
4  Namibia Vs Sri Lanka   Sri Lanka  Wanindu Hasaranga de Silva     4      0

  runs wickets economy 0s 4s 6s wides noBalls
0   23       1    5.75  7  0  0     2       0
1   39       1    9.75  6  3  1     2       0
2   37       2    9.25  6  3  1     0       0
3   36       1    9.00  7  3  1     1       0
4   27       1    6.75  8  1  1     0       0

import json
import pandas as pd


Convert the list of records to a DataFrame
    df_bowling = pd.DataFrame(all_records)
    
    # Print the shape of the DataFrame
    print("Shape of df_bowling:", df_bowling.shape)
    
    # Print the first few rows of the DataFrame to verify
    print(df_bowling.head())

except FileNotFoundError:
    print(f"The file at {file_path} was not found. Please check the path and try again.")
except json.JSONDecodeError:
    print(f"Failed to decode JSON from the file at {file_path}. Ensure the file contains valid JSON.")
except KeyError as e:
    print(f"The expected key {e} was not found in the JSON data. Please check the structure of your JSON file.")

In [10]:
import json
import pandas as pd

#Convert the list of records to a DataFrame
    df_bowling = pd.DataFrame(all_records)
    
    # Print the shape of the DataFrame
    print("Shape of df_bowling:", df_bowling.shape)
    
    # Print the first few rows of the DataFrame to verify
    print(df_bowling.head())

except FileNotFoundError:
    print(f"The file at {file_path} was not found. Please check the path and try again.")
except json.JSONDecodeError:
    print(f"Failed to decode JSON from the file at {file_path}. Ensure the file contains valid JSON.")
except KeyError as e:
    print(f"The expected key {e} was not found in the JSON data. Please check the structure of your JSON file.")

IndentationError: unexpected indent (3266515934.py, line 5)

In [11]:
import json
import pandas as pd

# Define the file path
file_path = 't20_json_files/t20_json_files/t20_wc_bowling_summary.json'

# Ensure the file exists before attempting to open it
try:
    with open(file_path) as f:
        data = json.load(f)
    
    all_records = []
    for rec in data:
        if 'bowlingSummary' in rec:  # Check if 'bowlingSummary' key exists
            all_records.extend(rec['bowlingSummary'])
    
    # Convert the list of records to a DataFrame
    df_bowling = pd.DataFrame(all_records)
    
    # Print the shape of the DataFrame
    print("Shape of df_bowling:", df_bowling.shape)
    
    # Print the first few rows of the DataFrame to verify
    print(df_bowling.head())

except FileNotFoundError:
    print(f"The file at {file_path} was not found. Please check the path and try again.")
except json.JSONDecodeError:
    print(f"Failed to decode JSON from the file at {file_path}. Ensure the file contains valid JSON.")
except KeyError as e:
    print(f"The expected key {e} was not found in the JSON data. Please check the structure of your JSON file.")

Shape of df_bowling: (500, 13)
                  match bowlingTeam                  bowlerName overs maiden  \
0  Namibia Vs Sri Lanka   Sri Lanka          Maheesh Theekshana     4      0
1  Namibia Vs Sri Lanka   Sri Lanka         Dushmantha Chameera     4      0
2  Namibia Vs Sri Lanka   Sri Lanka             Pramod Madushan     4      0
3  Namibia Vs Sri Lanka   Sri Lanka         Chamika Karunaratne     4      0
4  Namibia Vs Sri Lanka   Sri Lanka  Wanindu Hasaranga de Silva     4      0

  runs wickets economy 0s 4s 6s wides noBalls
0   23       1    5.75  7  0  0     2       0
1   39       1    9.75  6  3  1     2       0
2   37       2    9.25  6  3  1     0       0
3   36       1    9.00  7  3  1     1       0
4   27       1    6.75  8  1  1     0       0

In [12]:
with open ('t20_json_files/t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [17]:
df_match.rename({'scorecard' : 'match_id'}, axis = 1, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [19]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

# Print the match_ids_dict to verify
print(match_ids_dict)

{'Namibia Vs Sri Lanka': 'T20I # 1823', 'Sri Lanka Vs Namibia': 'T20I # 1823', 'Netherlands Vs U.A.E.': 'T20I # 1825', 'U.A.E. Vs Netherlands': 'T20I # 1825', 'Scotland Vs West Indies': 'T20I # 1826', 'West Indies Vs Scotland': 'T20I # 1826', 'Ireland Vs Zimbabwe': 'T20I # 1828', 'Zimbabwe Vs Ireland': 'T20I # 1828', 'Namibia Vs Netherlands': 'T20I # 1830', 'Netherlands Vs Namibia': 'T20I # 1830', 'Sri Lanka Vs U.A.E.': 'T20I # 1832', 'U.A.E. Vs Sri Lanka': 'T20I # 1832', 'Ireland Vs Scotland': 'T20I # 1833', 'Scotland Vs Ireland': 'T20I # 1833', 'West Indies Vs Zimbabwe': 'T20I # 1834', 'Zimbabwe Vs West Indies': 'T20I # 1834', 'Netherlands Vs Sri Lanka': 'T20I # 1835', 'Sri Lanka Vs Netherlands': 'T20I # 1835', 'Namibia Vs U.A.E.': 'T20I # 1836', 'U.A.E. Vs Namibia': 'T20I # 1836', 'Ireland Vs West Indies': 'T20I # 1837', 'West Indies Vs Ireland': 'T20I # 1837', 'Scotland Vs Zimbabwe': 'T20I # 1838', 'Zimbabwe Vs Scotland': 'T20I # 1838', 'Australia Vs New Zealand': 'T20I # 1839', 'New Zealand Vs Australia': 'T20I # 1839', 'Afghanistan Vs England': 'T20I # 1840', 'England Vs Afghanistan': 'T20I # 1840', 'Ireland Vs Sri Lanka': 'T20I # 1841', 'Sri Lanka Vs Ireland': 'T20I # 1841', 'India Vs Pakistan': 'T20I # 1842', 'Pakistan Vs India': 'T20I # 1842', 'Bangladesh Vs Netherlands': 'T20I # 1843', 'Netherlands Vs Bangladesh': 'T20I # 1843', 'South Africa Vs Zimbabwe': 'T20I # 1844', 'Zimbabwe Vs South Africa': 'T20I # 1844', 'Australia Vs Sri Lanka': 'T20I # 1845', 'Sri Lanka Vs Australia': 'T20I # 1845', 'England Vs Ireland': 'T20I # 1846', 'Ireland Vs England': 'T20I # 1846', 'Afghanistan Vs New Zealand': 'T20I # 1846a', 'New Zealand Vs Afghanistan': 'T20I # 1846a', 'Bangladesh Vs South Africa': 'T20I # 1847', 'South Africa Vs Bangladesh': 'T20I # 1847', 'India Vs Netherlands': 'T20I # 1848', 'Netherlands Vs India': 'T20I # 1848', 'Pakistan Vs Zimbabwe': 'T20I # 1849', 'Zimbabwe Vs Pakistan': 'T20I # 1849', 'Afghanistan Vs Ireland': 'T20I # 1849a', 'Ireland Vs Afghanistan': 'T20I # 1849a', 'Australia Vs England': 'T20I # 1849b', 'England Vs Australia': 'T20I # 1849b', 'New Zealand Vs Sri Lanka': 'T20I # 1850', 'Sri Lanka Vs New Zealand': 'T20I # 1850', 'Bangladesh Vs Zimbabwe': 'T20I # 1851', 'Zimbabwe Vs Bangladesh': 'T20I # 1851', 'Netherlands Vs Pakistan': 'T20I # 1852', 'Pakistan Vs Netherlands': 'T20I # 1852', 'India Vs South Africa': 'T20I # 1853', 'South Africa Vs India': 'T20I # 1853', 'Australia Vs Ireland': 'T20I # 1855', 'Ireland Vs Australia': 'T20I # 1855', 'Afghanistan Vs Sri Lanka': 'T20I # 1856', 'Sri Lanka Vs Afghanistan': 'T20I # 1856', 'England Vs New Zealand': 'T20I # 1858', 'New Zealand Vs England': 'T20I # 1858', 'Netherlands Vs Zimbabwe': 'T20I # 1859', 'Zimbabwe Vs Netherlands': 'T20I # 1859', 'Bangladesh Vs India': 'T20I # 1860', 'India Vs Bangladesh': 'T20I # 1860', 'Pakistan Vs South Africa': 'T20I # 1861', 'South Africa Vs Pakistan': 'T20I # 1861', 'Ireland Vs New Zealand': 'T20I # 1862', 'New Zealand Vs Ireland': 'T20I # 1862', 'Australia Vs Afghanistan': 'T20I # 1864', 'Afghanistan Vs Australia': 'T20I # 1864', 'England Vs Sri Lanka': 'T20I # 1867', 'Sri Lanka Vs England': 'T20I # 1867', 'Netherlands Vs South Africa': 'T20I # 1871', 'South Africa Vs Netherlands': 'T20I # 1871', 'Bangladesh Vs Pakistan': 'T20I # 1872', 'Pakistan Vs Bangladesh': 'T20I # 1872', 'India Vs Zimbabwe': 'T20I # 1873', 'Zimbabwe Vs India': 'T20I # 1873', 'New Zealand Vs Pakistan': 'T20I # 1877', 'Pakistan Vs New Zealand': 'T20I # 1877', 'England Vs India': 'T20I # 1878', 'India Vs England': 'T20I # 1878', 'England Vs Pakistan': 'T20I # 1879', 'Pakistan Vs England': 'T20I # 1879'}

In [20]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + 'Vs' + row['team2']
    key2 = row['team2'] + 'Vs' + row['team1']

    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

print(match_ids_dict)

{'NamibiaVsSri Lanka': 'T20I # 1823', 'Sri LankaVsNamibia': 'T20I # 1823', 'NetherlandsVsU.A.E.': 'T20I # 1825', 'U.A.E.VsNetherlands': 'T20I # 1825', 'ScotlandVsWest Indies': 'T20I # 1826', 'West IndiesVsScotland': 'T20I # 1826', 'IrelandVsZimbabwe': 'T20I # 1828', 'ZimbabweVsIreland': 'T20I # 1828', 'NamibiaVsNetherlands': 'T20I # 1830', 'NetherlandsVsNamibia': 'T20I # 1830', 'Sri LankaVsU.A.E.': 'T20I # 1832', 'U.A.E.VsSri Lanka': 'T20I # 1832', 'IrelandVsScotland': 'T20I # 1833', 'ScotlandVsIreland': 'T20I # 1833', 'West IndiesVsZimbabwe': 'T20I # 1834', 'ZimbabweVsWest Indies': 'T20I # 1834', 'NetherlandsVsSri Lanka': 'T20I # 1835', 'Sri LankaVsNetherlands': 'T20I # 1835', 'NamibiaVsU.A.E.': 'T20I # 1836', 'U.A.E.VsNamibia': 'T20I # 1836', 'IrelandVsWest Indies': 'T20I # 1837', 'West IndiesVsIreland': 'T20I # 1837', 'ScotlandVsZimbabwe': 'T20I # 1838', 'ZimbabweVsScotland': 'T20I # 1838', 'AustraliaVsNew Zealand': 'T20I # 1839', 'New ZealandVsAustralia': 'T20I # 1839', 'AfghanistanVsEngland': 'T20I # 1840', 'EnglandVsAfghanistan': 'T20I # 1840', 'IrelandVsSri Lanka': 'T20I # 1841', 'Sri LankaVsIreland': 'T20I # 1841', 'IndiaVsPakistan': 'T20I # 1842', 'PakistanVsIndia': 'T20I # 1842', 'BangladeshVsNetherlands': 'T20I # 1843', 'NetherlandsVsBangladesh': 'T20I # 1843', 'South AfricaVsZimbabwe': 'T20I # 1844', 'ZimbabweVsSouth Africa': 'T20I # 1844', 'AustraliaVsSri Lanka': 'T20I # 1845', 'Sri LankaVsAustralia': 'T20I # 1845', 'EnglandVsIreland': 'T20I # 1846', 'IrelandVsEngland': 'T20I # 1846', 'AfghanistanVsNew Zealand': 'T20I # 1846a', 'New ZealandVsAfghanistan': 'T20I # 1846a', 'BangladeshVsSouth Africa': 'T20I # 1847', 'South AfricaVsBangladesh': 'T20I # 1847', 'IndiaVsNetherlands': 'T20I # 1848', 'NetherlandsVsIndia': 'T20I # 1848', 'PakistanVsZimbabwe': 'T20I # 1849', 'ZimbabweVsPakistan': 'T20I # 1849', 'AfghanistanVsIreland': 'T20I # 1849a', 'IrelandVsAfghanistan': 'T20I # 1849a', 'AustraliaVsEngland': 'T20I # 1849b', 'EnglandVsAustralia': 'T20I # 1849b', 'New ZealandVsSri Lanka': 'T20I # 1850', 'Sri LankaVsNew Zealand': 'T20I # 1850', 'BangladeshVsZimbabwe': 'T20I # 1851', 'ZimbabweVsBangladesh': 'T20I # 1851', 'NetherlandsVsPakistan': 'T20I # 1852', 'PakistanVsNetherlands': 'T20I # 1852', 'IndiaVsSouth Africa': 'T20I # 1853', 'South AfricaVsIndia': 'T20I # 1853', 'AustraliaVsIreland': 'T20I # 1855', 'IrelandVsAustralia': 'T20I # 1855', 'AfghanistanVsSri Lanka': 'T20I # 1856', 'Sri LankaVsAfghanistan': 'T20I # 1856', 'EnglandVsNew Zealand': 'T20I # 1858', 'New ZealandVsEngland': 'T20I # 1858', 'NetherlandsVsZimbabwe': 'T20I # 1859', 'ZimbabweVsNetherlands': 'T20I # 1859', 'BangladeshVsIndia': 'T20I # 1860', 'IndiaVsBangladesh': 'T20I # 1860', 'PakistanVsSouth Africa': 'T20I # 1861', 'South AfricaVsPakistan': 'T20I # 1861', 'IrelandVsNew Zealand': 'T20I # 1862', 'New ZealandVsIreland': 'T20I # 1862', 'AustraliaVsAfghanistan': 'T20I # 1864', 'AfghanistanVsAustralia': 'T20I # 1864', 'EnglandVsSri Lanka': 'T20I # 1867', 'Sri LankaVsEngland': 'T20I # 1867', 'NetherlandsVsSouth Africa': 'T20I # 1871', 'South AfricaVsNetherlands': 'T20I # 1871', 'BangladeshVsPakistan': 'T20I # 1872', 'PakistanVsBangladesh': 'T20I # 1872', 'IndiaVsZimbabwe': 'T20I # 1873', 'ZimbabweVsIndia': 'T20I # 1873', 'New ZealandVsPakistan': 'T20I # 1877', 'PakistanVsNew Zealand': 'T20I # 1877', 'EnglandVsIndia': 'T20I # 1878', 'IndiaVsEngland': 'T20I # 1878', 'EnglandVsPakistan': 'T20I # 1879', 'PakistanVsEngland': 'T20I # 1879'}

In [21]:
df_bowling.to_csv('t20_json_files/t20_json_files/bowling.csv', index=False)

In [25]:
import json
import pandas as pd

# Define the file path
file_path = 't20_json_files/t20_json_files/t20_wc_player_info.json'

# Ensure the file exists before attempting to open it
try:
    with open(file_path) as f:
        data = json.load(f)

    # Convert the data to a DataFrame
    df_players = pd.DataFrame(data)
    
    # Print the shape of the DataFrame
    print("Shape of df_players:", df_players.shape)
    
    # Print the first 10 rows of the DataFrame
    print(df_players.head(10))

except FileNotFoundError:
    print(f"The file at {file_path} was not found. Please check the path and try again.")
except json.JSONDecodeError:
    print(f"Failed to decode JSON from the file at {file_path}. Ensure the file contains valid JSON.")
except KeyError as e:
    print(f"The expected key {e} was not found in the JSON data. Please check the structure of your JSON file.")

Shape of df_players: (219, 6)
                     name       team    battingStyle  \
0      Michael van Lingen    Namibia   Left hand Bat
1           Divan la Cock    Namibia  Right hand Bat
2  Jan Nicol Loftie-Eaton    Namibia   Left hand Bat
3           Stephan Baard    Namibia  Right hand Bat
4      Gerhard Erasmus(c)    Namibia  Right hand Bat
5            Jan Frylinck    Namibia   Left hand Bat
6             David Wiese    Namibia  Right hand Bat
7                 JJ Smit    Namibia  Right hand Bat
8         Pathum Nissanka  Sri Lanka  Right hand Bat
9         Kusal Mendisâ€   Sri Lanka  Right hand Bat

                 bowlingStyle          playingRole  \
0             Left arm Medium   Bowling Allrounder
1                    Legbreak       Opening Batter
2  Right arm Medium, Legbreak               Batter
3       Right arm Medium fast               Batter
4          Right arm Offbreak           Allrounder
5        Left arm Fast medium           Allrounder
6       Right arm Medium fast           Allrounder
7        Left arm Medium fast   Bowling Allrounder
8                                 Top order Batter
9                    Legbreak  Wicketkeeper Batter

                                         description
0
1
2
3
4
5
6  David Wiese joined a marked outflow of South A...
7
8
9  Blessed with a compact technique, an aggressiv...

In [26]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('Ã¢â‚¬', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€ ', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\\xa0', ''))
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendisâ€,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [27]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
127,KL Rahul,India,Right hand Bat,,Opening Batter,"A tall, elegant right-hand batsman who can kee..."
128,Rohit Sharma(c),India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne..."
129,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...
130,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...
131,Axar Patel,India,Left hand Bat,Slow Left arm Orthodox,Bowling Allrounder,Left-arm spinner Axar Patel has been increasin...
132,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,Hardik Pandya swears by living life king size ...
133,Dinesh Karthikâ€,India,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Not many would forget the sight of Dinesh Kart...
134,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,R Ashwin took the tricks and skills he learned...
135,Bhuvneshwar Kumar,India,Right hand Bat,Right arm Medium,Bowler,"At the time of his India debut in 2012, Bhuvne..."
136,Arshdeep Singh,India,Left hand Bat,Left arm Medium fast,Bowler,
137,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
192,Deepak Hooda,India,Right hand Bat,Right arm Offbreak,Allrounder,"An allrounder who can bat in any position, Dee..."
211,Rishabh Pantâ€,India,Left hand Bat,,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i..."

In [28]:
df_bowling.to_csv('t20_json_files/t20_json_files/Players.csv', index=False)